# GENERATED - do not edit; synced from the Tako monorepo.
# Produced by the Tako monorepo OpenAPI sync workflows.
openapi: 3.1.0
info:
  title: Knowledge Search API
  version: 1.0.0
servers:
- url: https://tako.com/api/
  description: Tako Production API Server
paths:
  /v3/search:
    post:
      tags:
      - tako
      summary: Search
      description: Fast-pipeline knowledge search. Returns Tako cards (and web results
        when requested) with no LLM synthesis.
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Fast-pipeline search results (Tako cards + web results)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Invalid request data (validation or malformed body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '408':
          description: The request exceeded the processing time limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '529':
          description: 'Tako is overloaded and did not process this request. Do not
            retry automatically. The response carries the header x-should-retry: false.
            Send the request again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/answer:
    post:
      tags:
      - tako
      summary: Answer
      description: Fast-pipeline retrieval plus an LLM-synthesized answer. Tako may
        omit sources that cannot provide usable text. This endpoint returns 3 web
        results when you omit sources.web.count.
      operationId: answer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Synthesized answer grounded in Tako results, web results, or
            both
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerResponse'
        '400':
          description: Invalid request data (validation or malformed body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '408':
          description: The request exceeded the processing time limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '529':
          description: 'Tako is overloaded and did not process this request. Do not
            retry automatically. The response carries the header x-should-retry: false.
            Send the request again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/graph/search:
    get:
      tags:
      - tako
      summary: Search the data graph
      description: 'Resolve a metric or entity in Tako''s data graph by name. Use
        this to discover and confirm what data exists before you query. For example,
        resolve the metric and the entity here, then ask /v3/search or /v1/answer
        for that entity + metric combination. Requires an API key. Note: Tako does
        not yet filter results to the production-ready inventory. A returned metric
        or entity without a production fact table can 404 when you pass it to /v1/graph/related.
        Pass label to prefer a NER label (a ranking boost, not a filter); by default
        Tako infers the label from q. This endpoint was previously at /beta/graph/search.
        That path still works until 1 February 2027. Move to /v1/graph/search.'
      operationId: graphSearch
      parameters:
      - description: Search text (min 2 chars).
        required: true
        schema:
          type: string
        name: q
        in: query
      - description: 'Comma-separated facets: metric,entity.'
        required: false
        schema:
          type: string
        name: types
        in: query
      - description: Max results (default 20, max 50).
        required: false
        schema:
          type: integer
        name: limit
        in: query
      - description: Prefer results with this NER label (boost, not a filter — matching
          nodes rank higher; others still return). Supplying label disables inference.
        required: false
        schema:
          type: string
          enum:
          - PERSON
          - ORG
          - GPE
          - LOC
          - PRODUCT
          - EVENT
          - LANGUAGE
          - MONEY
          - METRIC
          - STOCK_TICKER
          - WEBSITE
        name: label
        in: query
      - description: When true, Tako NER infers the label and grounded-node boosts
          from q. Set false to disable. Tako ignores this parameter when you supply
          label. Default true.
        required: false
        schema:
          type: boolean
        name: infer_label
        in: query
      responses:
        '200':
          description: Matching metrics and entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphSearchResponse'
        '400':
          description: Invalid request data (validation or malformed body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '503':
          description: A backing data store is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/graph/related:
    get:
      tags:
      - tako
      summary: Get a graph node's related nodes
      description: 'Explore what a node connects to. The overview returns an ordered
        `relations` list: named relationships (for example `rel:competes_with`, `rel:in_industry`)
        first, then a node''s metrics and entities, then similar nodes and membership
        (part_of, members). The metrics and entities are the entity + metric combinations
        Tako covers — query /v3/search or /v1/answer for one. Each group carries a
        stable `key`. Pass `relation`=<key> plus cursor to paginate that one group.
        Pass the optional q to narrow by a case-insensitive substring on names and
        aliases (for example, the metrics of an entity that match ''gdp''). Requires
        an API key. This endpoint was previously at /beta/graph/related. That path
        still works until 1 February 2027. Move to /v1/graph/related.'
      operationId: graphRelated
      parameters:
      - description: Opaque public id of the node.
        required: true
        schema:
          type: string
        name: node_id
        in: query
      - description: Relation key to paginate, for example `rel:competes_with`, `metrics`,
          `entities`, `siblings`, or `members`.
        required: false
        schema:
          type: string
        name: relation
        in: query
      - description: 'Deprecated: use `relation`. A legacy facet name (metric, entity,
          sibling, or member) that maps to a key.'
        required: false
        deprecated: true
        schema:
          type: string
        name: relation_type
        in: query
      - description: Optional case-insensitive substring filter on the related nodes'
          names and aliases. It filters every group of the overview, or the single
          paginated group when you set `relation`.
        required: false
        schema:
          type: string
        name: q
        in: query
      - description: Opaque pagination cursor.
        required: false
        schema:
          type: string
        name: cursor
        in: query
      - description: Page size (default 50, max 100).
        required: false
        schema:
          type: integer
        name: limit
        in: query
      - description: 'Prefer related nodes with this NER label. This is a boost, not
          a filter: matching nodes rank higher within each relation, and totals do
          not change. Supplying label disables inference.'
        required: false
        schema:
          type: string
          enum:
          - PERSON
          - ORG
          - GPE
          - LOC
          - PRODUCT
          - EVENT
          - LANGUAGE
          - MONEY
          - METRIC
          - STOCK_TICKER
          - WEBSITE
        name: label
        in: query
      - description: When true, Tako NER infers the label and grounded-node boosts
          from q. Set false to disable. Tako ignores this parameter when you supply
          label. It applies only when q is present. Default true.
        required: false
        schema:
          type: boolean
        name: infer_label
        in: query
      responses:
        '200':
          description: A node's details plus related nodes by facet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphRelatedResponse'
        '400':
          description: Invalid request data (validation or malformed body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '404':
          description: The requested resource does not exist or has no exportable
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '503':
          description: A backing data store is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/graph/node/{id}:
    get:
      tags:
      - tako
      summary: Get a graph node by id
      description: Resolve a single node by its opaque public id. Search cards, /v1/graph/search,
        and /v1/graph/related return these ids. Returns the node's name, type, aliases,
        and description. Requires an API key. This endpoint was previously at /beta/graph/node/{id}.
        That path still works until 1 February 2027. Move to /v1/graph/node/{id}.
      operationId: graphNode
      parameters:
      - description: Opaque public id of the node.
        required: true
        schema:
          type: string
        name: id
        in: path
      responses:
        '200':
          description: A single graph node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphNode'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '404':
          description: The requested resource does not exist or has no exportable
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '503':
          description: A backing data store is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/contents:
    post:
      tags:
      - tako
      summary: Download content
      description: 'Download the content behind a search result: a CSV of a Tako card''s
        underlying data, or the full text of a web page. Returns a short-lived presigned
        download URL. Send `content_format: card_json` for a rich, card-type-specific
        JSON object under `card_data` (for example a weather forecast with hourly
        and daily records). A card_json export is truncated to `max_rows` like every
        other format, so Tako never delivers more record rows than it bills. A card
        whose record array is unbounded caps that array at the platform export ceiling
        and sets `truncated`. A card type without a card_json shape returns 422. A
        card returns 403 when Tako cannot export its data. A data provider that does
        not permit export and a card whose sources Tako cannot confirm both return
        403, and the error message states which. Send `quote_only: true` to get only
        the export''s price (`cost` + `export_pricing`) with an empty payload. A quote
        charges nothing, fetches nothing, and calls no data provider. Every format
        prices a quote from `max_rows`, so the quote is an upper bound on the charge
        and never falls below it.'
      operationId: contents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentsRequest'
      responses:
        '200':
          description: 'Downloadable content for a result: a presigned URL plus format
            and cost metadata. For a `quote_only` request the item instead carries
            only the price (`cost` + `export_pricing`) with all payload and url fields
            null.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentsResponse'
        '400':
          description: Invalid request data (validation or malformed body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '403':
          description: Action not permitted for this resource. For a data export,
            either a data provider does not permit export, or Tako cannot confirm
            the data sources for the card. The message states which.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '404':
          description: The requested resource does not exist or has no exportable
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
        '422':
          description: 'This card type does not support the requested content format.
            Only content_format=''card_json'' returns this status: use ''csv'', ''json_records'',
            or ''json_compact'' for that card. The response body carries error_type=''UNSUPPORTED_CONTENT_FORMAT''.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAPIError'
      security:
      - apiKey: []
  /v1/thin_viz/create/:
    post:
      tags:
      - tako
      description: 'Create a visualization card directly from component configurations.
        Supported component types: header, generic_timeseries, categorical_bar, stock_boxes,
        financial_boxes, table.'
      operationId: createCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
      responses:
        '200':
          description: Card created successfully from schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThinVizCard'
        '400':
          description: Bad request - validation error or component mismatch
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                type: object
                required:
                - error
        '404':
          description: Schema not found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                type: object
                required:
                - error
        '402':
          description: Payment required. A PAYG API-credit balance is empty (error_type,
            error_message, balance_cents), or the account has no subscription credits
            left (error, message, upgrade_url).
          content:
            application/json:
              schema:
                properties:
                  error_type:
                    type: string
                  error_message:
                    type: string
                  balance_cents:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
                  upgrade_url:
                    type: string
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                type: object
                required:
                - error
      security:
      - apiKey: []
  /v1/agent/answer/runs:
    get:
      tags:
      - agent
      summary: List answer agent runs
      description: List the authenticated caller's answer agent runs, newest first.
        Returns trimmed run summaries. Fetch full detail via GET /v1/agent/answer/runs/{run_id}.
      operationId: listAnswerAgentRuns
      parameters:
      - description: Opaque pagination cursor from a previous response's next_cursor.
        required: false
        schema:
          type: string
        name: cursor
        in: query
      - description: Max runs to return (default 20, max 100).
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
        name: limit
        in: query
      responses:
        '200':
          description: A page of the caller's answer agent runs, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerAgentRunList'
        '400':
          description: Invalid pagination parameter (limit or cursor).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
    post:
      tags:
      - agent
      summary: Dispatch an answer agent run
      description: Dispatch an answer agent run. Returns 202 with an AnswerAgentRun
        object. Poll GET /v1/agent/answer/runs/{run_id} until status is 'completed'
        or 'failed'.
      operationId: createAnswerAgentRun
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerAgentRunRequest'
      responses:
        '202':
          description: 'Run dispatched. With Accept: application/json, poll GET /v1/agent/answer/runs/{run_id}
            for the run status. With Accept: text/event-stream, the response is an
            SSE stream of AnswerAgentStreamEnvelope events. The stream ends at stream_done.
            If the stream ends without an agent_result event, poll GET /v1/agent/answer/runs/{run_id}
            for the terminal status.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerAgentRun'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AnswerAgentStreamEnvelope'
        '400':
          description: Invalid request (for example, a blank query or a malformed
            body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '402':
          description: Insufficient API credit balance (PAYG pre-dispatch gate).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '404':
          description: thread_id does not exist or is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '409':
          description: 'Conflict. code is one of: ''conflict'' (the thread already
            has a run in flight); ''thread_product_mismatch'' (the thread belongs
            to a different agent product); ''source_indexes_mismatch'' (a follow-up
            changed the thread''s pinned source_indexes).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '500':
          description: Failed to dispatch the agent run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
  /v1/agent/answer/runs/{run_id}:
    get:
      tags:
      - agent
      summary: Poll an answer agent run
      description: Retrieve the current state of an answer agent run. Poll until status
        is 'completed' or 'failed'. The response includes result when status is 'completed'.
      operationId: getAnswerAgentRun
      parameters:
      - description: The run ID from the POST /v1/agent/answer/runs response.
        required: true
        schema:
          type: string
        name: run_id
        in: path
      - description: 'SSE resume cursor (Accept: text/event-stream only). The stream
          replays events with seq greater than this value. It is equivalent to the
          Last-Event-ID header.'
        required: false
        schema:
          type: integer
          minimum: 0.0
        name: starting_after
        in: query
      responses:
        '200':
          description: 'Current state of the agent run. With Accept: text/event-stream,
            the response replays and then follows the run as an SSE stream of AnswerAgentStreamEnvelope
            events. Use starting_after or Last-Event-ID to resume. If the stream ends
            without an agent_result event, poll this endpoint with Accept: application/json
            for the terminal status.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerAgentRun'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AnswerAgentStreamEnvelope'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '403':
          description: The run is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
  /v1/agent/retrieval/runs:
    get:
      tags:
      - agent
      summary: List retrieval agent runs
      description: List the authenticated caller's retrieval agent runs, newest first.
        Returns trimmed run summaries. Fetch full detail via GET /v1/agent/retrieval/runs/{run_id}.
      operationId: listRetrievalAgentRuns
      parameters:
      - description: Opaque pagination cursor from a previous response's next_cursor.
        required: false
        schema:
          type: string
        name: cursor
        in: query
      - description: Max runs to return (default 20, max 100).
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
        name: limit
        in: query
      responses:
        '200':
          description: A page of the caller's retrieval agent runs, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalAgentRunList'
        '400':
          description: Invalid pagination parameter (limit or cursor).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
    post:
      tags:
      - agent
      summary: Dispatch a retrieval agent run
      description: Dispatch a retrieval agent run. Returns 202 with a RetrievalAgentRun
        object. Poll GET /v1/agent/retrieval/runs/{run_id} until status is 'completed'
        or 'failed'.
      operationId: createRetrievalAgentRun
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievalAgentRunRequest'
      responses:
        '202':
          description: 'Run dispatched. With Accept: application/json, poll GET /v1/agent/retrieval/runs/{run_id}
            for the run status. With Accept: text/event-stream, the response is an
            SSE stream of RetrievalAgentStreamEnvelope events. The stream ends at
            stream_done. If the stream ends without an agent_result event, poll GET
            /v1/agent/retrieval/runs/{run_id} for the terminal status.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalAgentRun'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/RetrievalAgentStreamEnvelope'
        '400':
          description: Invalid request (for example, a blank query or a malformed
            body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '402':
          description: Insufficient API credit balance (PAYG pre-dispatch gate).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '404':
          description: thread_id does not exist or is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '409':
          description: 'Conflict. code is one of: ''conflict'' (the thread already
            has a run in flight); ''thread_product_mismatch'' (the thread belongs
            to a different agent product); ''source_indexes_mismatch'' (a follow-up
            changed the thread''s pinned source_indexes).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '500':
          description: Failed to dispatch the agent run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
  /v1/agent/retrieval/runs/{run_id}:
    get:
      tags:
      - agent
      summary: Poll a retrieval agent run
      description: Retrieve the current state of a retrieval agent run. Poll until
        status is 'completed' or 'failed'. The response includes result when status
        is 'completed'.
      operationId: getRetrievalAgentRun
      parameters:
      - description: The run ID from the POST /v1/agent/retrieval/runs response.
        required: true
        schema:
          type: string
        name: run_id
        in: path
      - description: 'SSE resume cursor (Accept: text/event-stream only). The stream
          replays events with seq greater than this value. It is equivalent to the
          Last-Event-ID header.'
        required: false
        schema:
          type: integer
          minimum: 0.0
        name: starting_after
        in: query
      responses:
        '200':
          description: 'Current state of the agent run. With Accept: text/event-stream,
            the response replays and then follows the run as an SSE stream of RetrievalAgentStreamEnvelope
            events. Use starting_after or Last-Event-ID to resume. If the stream ends
            without an agent_result event, poll this endpoint with Accept: application/json
            for the terminal status.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalAgentRun'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/RetrievalAgentStreamEnvelope'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '403':
          description: The run is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - apiKey: []
components:
  schemas:
    TakoDataset:
      properties:
        columns:
          items:
            $ref: '#/components/schemas/TakoDatasetColumn'
          type: array
          title: Columns
          description: Ordered column headers (name + type), one per position in every
            row.
        rows:
          items:
            items:
              anyOf:
              - type: string
              - type: number
              - type: integer
              - type: boolean
              - type: 'null'
            type: array
          type: array
          title: Rows
          description: Row data as positional cell arrays aligned to `columns` order.
            Cells are string/number/boolean/null; nulls are preserved, never coerced.
        total_rows:
          type: integer
          title: Total Rows
          description: True total number of rows in the underlying data, before any
            truncation.
        truncated:
          type: boolean
          title: Truncated
          description: True when `rows` was capped and total_rows exceeds the number
            returned.
        ref:
          type: string
          title: Ref
          description: Source URL the dataset was derived from (e.g. the Tako card
            URL).
        sources:
          items:
            $ref: '#/components/schemas/TakoDatasetSource'
          type: array
          title: Sources
          description: 'Provenance for the dataset: the sources the rows were drawn
            from.'
        provenance:
          type: string
          enum:
          - query
          - web_extraction
          title: Provenance
          description: 'How the rows were produced: ''query'' (Tako data) or ''web_extraction''.'
          default: query
      type: object
      required:
      - columns
      - rows
      - total_rows
      - truncated
      - ref
      - sources
      title: TakoDataset
      description: 'The dataset-slot envelope: exact retrieved rows as positional
        arrays

        in `columns` order. The rows come directly from the data source; the LLM

        never transcribes them.'
    APIErrorType:
      type: string
      enum:
      - BAD_REQUEST
      - AUTHENTICATION_ERROR
      - INTERNAL_SERVER_ERROR
      - RELEVANT_RESULTS_NOT_FOUND
      - RATE_LIMIT_EXCEEDED
      - PAYMENT_REQUIRED
      - REQUEST_TIMEOUT
      - FORBIDDEN
      - NOT_FOUND
      - SERVICE_UNAVAILABLE
      - SERVICE_OVERLOADED
      - UNSUPPORTED_CONTENT_FORMAT
      title: APIErrorType
    AgentAnswerAssumption:
      properties:
        title:
          type: string
          title: Title
        description:
          type: string
          title: Description
        category:
          anyOf:
          - type: string
          - type: 'null'
          title: Category
        source_ref:
          anyOf:
          - type: integer
          - type: 'null'
          title: Source Ref
      type: object
      required:
      - title
      - description
      title: AgentAnswerAssumption
    AgentAnswerCitation:
      properties:
        index:
          type: integer
          title: Index
        title:
          type: string
          title: Title
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
        source_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Name
        source_index:
          anyOf:
          - $ref: '#/components/schemas/TakoSourceIndex'
          - type: 'null'
        excerpt:
          anyOf:
          - type: string
          - type: 'null'
          title: Excerpt
        publish_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Publish Date
        content:
          anyOf:
          - $ref: '#/components/schemas/ResultContent'
          - type: 'null'
      type: object
      required:
      - index
      - title
      title: AgentAnswerCitation
      description: 'One indexed source behind the answer. Every inline [n] marker
        in the

        answer joins to a citation''s index. A citation can also back the answer

        without a surviving inline marker — markers map to citations, not 1:1.

        This covers web and Tako sources alike, and it is the single shared

        citation object across both agent products. The extended fields

        (source_index, excerpt, publish_date, content) are additive and nullable.

        The Answer Agent populates source_index and leaves the rest null. The

        Retrieval Agent also populates excerpt and publish_date for web

        sources.'
    AgentAnswerDefinition:
      properties:
        term:
          type: string
          title: Term
        definition:
          type: string
          title: Definition
        source_ref:
          anyOf:
          - type: integer
          - type: 'null'
          title: Source Ref
      type: object
      required:
      - term
      - definition
      title: AgentAnswerDefinition
    AgentAnswerMetadata:
      properties:
        citations:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerCitation'
            type: array
          - type: 'null'
          title: Citations
        definitions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerDefinition'
            type: array
          - type: 'null'
          title: Definitions
        assumptions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerAssumption'
            type: array
          - type: 'null'
          title: Assumptions
        methodology:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerMethodologyNote'
            type: array
          - type: 'null'
          title: Methodology
      type: object
      title: AgentAnswerMetadata
      description: 'Supplementary answer metadata. All fields are optional — population

        varies by effort and engine (low fills citations only today). Tako adds

        new components here additively.'
    AgentAnswerMethodologyNote:
      properties:
        title:
          type: string
          title: Title
        description:
          type: string
          title: Description
      type: object
      required:
      - title
      - description
      title: AgentAnswerMethodologyNote
    AgentOutputSettings:
      properties:
        image_dark_mode:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Image Dark Mode
          description: Render card preview images in dark mode. Omit to use the default
            (dark).
      type: object
      title: AgentOutputSettings
    AgentRunStatus:
      type: string
      enum:
      - queued
      - running
      - completed
      - failed
      title: AgentRunStatus
    AnswerAgentEffort:
      type: string
      enum:
      - medium
      title: AnswerAgentEffort
      description: 'Effort taxonomy for the Answer Agent (POST /v1/agent/answer/runs).


        The Answer Agent shares the effort vocabulary with the Retrieval Agent,

        but only ''medium'' is available today. Unsupported values return 400.

        Effort does not select an engine; it is a forward-compatible quality and

        pricing control.'
    AnswerAgentMetadata:
      properties:
        definitions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerDefinition'
            type: array
          - type: 'null'
          title: Definitions
        assumptions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerAssumption'
            type: array
          - type: 'null'
          title: Assumptions
        methodology:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentAnswerMethodologyNote'
            type: array
          - type: 'null'
          title: Methodology
      type: object
      title: AnswerAgentMetadata
      description: 'Answer-agent metadata. Citations live in the top-level `citations`

        registry, so this carries only definitions, assumptions, and methodology.

        Distinct from the shared AgentAnswerMetadata, which retains citations for

        the legacy AgentResult.'
    AnswerAgentResult:
      properties:
        answer:
          anyOf:
          - type: string
          - type: 'null'
          title: Answer
        cards:
          items:
            $ref: '#/components/schemas/TakoCard'
          type: array
          title: Cards
        citations:
          items:
            $ref: '#/components/schemas/AgentAnswerCitation'
          type: array
          title: Citations
        metadata:
          anyOf:
          - $ref: '#/components/schemas/AnswerAgentMetadata'
          - type: 'null'
        refusal_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Refusal Code
          description: Set when Tako rejected the query before the agent ran. Null
            on normal runs. Tako can add new codes, so accept a code you do not recognize.
            The current code is 'rejected_input_classifier'.
        request_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Request Id
      type: object
      title: AnswerAgentResult
      description: 'Final answer-agent output. answer is markdown prose with [n] citation

        markers. citations is the unified top-level registry that the [n] markers

        join. cards reuse the sibling TakoCard. metadata carries definitions,

        assumptions, and methodology. There is no inline data, no structured

        output, and no web_results — ever. A prose-only result (empty cards) is

        legitimate.'
    AnswerAgentResultEvent:
      properties:
        kind:
          type: string
          const: agent_result
          title: Kind
          default: agent_result
        id:
          type: string
          title: Id
        data:
          $ref: '#/components/schemas/AnswerAgentResult'
      type: object
      required:
      - id
      - data
      title: AnswerAgentResultEvent
    AnswerAgentRun:
      properties:
        run_id:
          type: string
          title: Run Id
        object:
          type: string
          const: agent.run
          title: Object
          default: agent.run
        thread_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Thread Id
        status:
          $ref: '#/components/schemas/AgentRunStatus'
        created_at:
          type: string
          title: Created At
        completed_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Completed At
        result:
          anyOf:
          - $ref: '#/components/schemas/AnswerAgentResult'
          - type: 'null'
        error:
          anyOf:
          - $ref: '#/components/schemas/ErrorObject'
          - type: 'null'
        usage:
          anyOf:
          - $ref: '#/components/schemas/Usage'
          - type: 'null'
        request:
          anyOf:
          - $ref: '#/components/schemas/AnswerAgentRunRequest'
          - type: 'null'
      type: object
      required:
      - run_id
      - status
      - created_at
      title: AnswerAgentRun
      description: The answer-agent run resource returned by dispatch (202) and poll
        (GET).
    AnswerAgentRunList:
      properties:
        object:
          type: string
          const: list
          title: Object
          default: list
        data:
          items:
            $ref: '#/components/schemas/AnswerAgentRunSummary'
          type: array
          title: Data
        has_more:
          type: boolean
          title: Has More
          default: false
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
      type: object
      required:
      - data
      title: AnswerAgentRunList
      description: 'List envelope for GET /v1/agent/answer/runs. The shape follows
        the

        OpenAI and Exa list convention.'
    AnswerAgentRunRequest:
      properties:
        query:
          type: string
          title: Query
          description: Natural-language request for the answer agent.
          examples:
          - How have American Airlines' margins held up against fuel shocks?
        thread_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Thread Id
          description: Existing thread to continue (follow-up). Omit to start a new
            thread.
        effort:
          $ref: '#/components/schemas/AnswerAgentEffort'
          description: Answer-agent effort. Only 'medium' is currently supported.
          default: medium
        source_indexes:
          items:
            type: string
            enum:
            - data
            - web
          type: array
          title: Source Indexes
          description: 'Which sources the agent may use: ''data'' (curated knowledge),
            ''web'' (open-web search), or both. Defaults to [''data'', ''web'']. Tako
            accepts the legacy value ''tako'' as a synonym for ''data''.'
          examples:
          - - data
          - - web
          - - data
            - web
        locale:
          type: string
          title: Locale
          description: BCP-47 locale. Drives the language of the agent's answer and
            the locale used when rendering card preview images. Defaults to en-US.
          default: en-US
        timezone:
          anyOf:
          - type: string
          - type: 'null'
          title: Timezone
          description: IANA timezone (for example, 'America/New_York'). The agent
            uses it to render dates and times in card preview images. It does not
            affect the returned data.
        output_settings:
          anyOf:
          - $ref: '#/components/schemas/AgentOutputSettings'
          - type: 'null'
          description: Settings that control the response and rendering.
      type: object
      required:
      - query
      title: AnswerAgentRunRequest
      description: 'Request body for POST /v1/agent/answer/runs.


        Frozen contract: no output_schema, no structured outputs, and no inline

        data — ever. Cards are the only data-export path (via /v1/contents).'
    AnswerAgentRunSummary:
      properties:
        run_id:
          type: string
          title: Run Id
        status:
          $ref: '#/components/schemas/AgentRunStatus'
        created_at:
          type: string
          title: Created At
        completed_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Completed At
        thread_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Thread Id
        usage:
          anyOf:
          - $ref: '#/components/schemas/Usage'
          - type: 'null'
        object:
          type: string
          const: agent.run
          title: Object
          default: agent.run
      type: object
      required:
      - run_id
      - status
      - created_at
      title: AnswerAgentRunSummary
    AnswerAgentStreamEnvelope:
      properties:
        seq:
          type: integer
          minimum: 0.0
          title: Seq
        run_id:
          type: string
          title: Run Id
        thread_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Thread Id
        category:
          $ref: '#/components/schemas/StreamCategory'
        block:
          oneOf:
          - $ref: '#/components/schemas/ToolCallEvent'
          - $ref: '#/components/schemas/ToolResultEvent'
          - $ref: '#/components/schemas/ToolErrorEvent'
          - $ref: '#/components/schemas/ToolRetryEvent'
          - $ref: '#/components/schemas/StatusEvent'
          - $ref: '#/components/schemas/SubagentEvent'
          - $ref: '#/components/schemas/ReasoningEvent'
          - $ref: '#/components/schemas/TextEvent'
          - $ref: '#/components/schemas/DataPipelineAnswerEvent'
          - $ref: '#/components/schemas/AnswerAgentResultEvent'
          - $ref: '#/components/schemas/RunSummaryEvent'
          - $ref: '#/components/schemas/HeartbeatEvent'
          - $ref: '#/components/schemas/StreamResetEvent'
          - $ref: '#/components/schemas/StreamDoneEvent'
          title: Block
          discriminator:
            propertyName: kind
            mapping:
              agent_result: '#/components/schemas/AnswerAgentResultEvent'
              data_pipeline_answer: '#/components/schemas/DataPipelineAnswerEvent'
              heartbeat: '#/components/schemas/HeartbeatEvent'
              reasoning: '#/components/schemas/ReasoningEvent'
              run_summary: '#/components/schemas/RunSummaryEvent'
              status: '#/components/schemas/StatusEvent'
              stream_done: '#/components/schemas/StreamDoneEvent'
              stream_reset: '#/components/schemas/StreamResetEvent'
              subagent: '#/components/schemas/SubagentEvent'
              text: '#/components/schemas/TextEvent'
              tool_call: '#/components/schemas/ToolCallEvent'
              tool_error: '#/components/schemas/ToolErrorEvent'
              tool_result: '#/components/schemas/ToolResultEvent'
              tool_retry: '#/components/schemas/ToolRetryEvent'
      type: object
      required:
      - seq
      - run_id
      - category
      - block
      title: AnswerAgentStreamEnvelope
      description: 'Public SSE envelope for the Answer Agent run stream. Identical
        wire shape

        to AgentStreamEnvelope; the only difference is the terminal agent_result

        block carries AnswerAgentResult (top-level citations, no web_results).'
    AnswerResponse:
      properties:
        answer:
          type: string
          title: Answer
          description: Synthesized text answer.
        cards:
          items:
            $ref: '#/components/schemas/TakoCard'
          type: array
          title: Cards
          description: Tako cards backing the answer; cards[0] is the lead card —
            the best one to show alongside the answer.
        web_results:
          items:
            $ref: '#/components/schemas/WebResult'
          type: array
          title: Web Results
        request_id:
          type: string
          title: Request Id
        usage:
          anyOf:
          - $ref: '#/components/schemas/Usage'
          - type: 'null'
      type: object
      required:
      - answer
      - request_id
      title: AnswerResponse
      description: 'Response for POST /api/v1/answer: the synthesized answer plus
        the

        retrieval behind it.'
    BaseAPIError:
      properties:
        error_message:
          type: string
          title: Error Message
        error_type:
          $ref: '#/components/schemas/APIErrorType'
      type: object
      required:
      - error_message
      - error_type
      title: BaseAPIError
    ColumnDescriptor:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The column header as exported. This is the CSV header, the
            json_records key, and the dataset column label for this column.
        metric:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric
          description: What the column measures, for example 'Median Sales Price'.
        entity:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity
          description: 'What the column is measured FOR: the resolved values of every
            dimension the series is filtered to, joined with an em dash — for example
            ''Austin, TX — Condo''. A card filtered on one dimension reports that
            one value. This field reports resolved display values only and never an
            internal identifier.'
        unit:
          anyOf:
          - type: string
          - type: 'null'
          title: Unit
          description: The unit of every value in the column, for example 'USD'.
        dtype:
          anyOf:
          - $ref: '#/components/schemas/TakoDatasetColumnType'
          - type: 'null'
          description: The data type of the column, inferred from the exported values.
      type: object
      title: ColumnDescriptor
      description: 'Structured description of one exported value column.


        Producers set the semantic parts they know (``metric``, ``entity``,

        ``unit``). ``name`` and ``dtype`` are filled centrally: ``name`` is the

        rendered canonical header (set by ``apply_descriptor_names``), and ``dtype``

        is inferred from the real column data in ``finalize_export_frame``. A

        producer-set ``dtype`` would drift from the cells, and a producer cannot know

        the disambiguated ``name`` before the whole frame is rendered.


        In the exported manifest ``name`` equals the column''s actual header, and
        the

        manifest is positionally aligned with the exported columns (manifest entry

        ``i`` describes column ``i``).'
    ComponentConfig:
      properties:
        component_type:
          $ref: '#/components/schemas/ComponentTypeEnum'
          description: 'Component type:

            - bubble: Bubble chart (scatter plot with size dimension for 3-variable
            data)

            - categorical_bar: Bar chart with categorical x-axis (for example, regions
            or products)

            - choropleth: Choropleth map showing geographic data with color intensity
            by region (US states or world)

            - data_table_chart: Bar chart with auto-generated data table below showing
            values

            - financial_boxes: Financial metric boxes with values and growth indicators
            (for example, Revenue or EPS)

            - generic_timeseries: timeseries chart

            - header: Card header with title and description, automatically styled
            with theme

            - heatmap: 2D heatmap with color intensity representing values (for example,
            a correlation matrix)

            - histogram: Histogram chart showing frequency distribution of values

            - person_card: Person profile card from an Exa person search result (includes
            career, education, and about tabs)

            - pie: Pie chart showing proportional data as slices of a circle

            - scatter: Scatter plot showing relationships between two continuous variables

            - table: Data table with configurable columns and rows

            - boxplot: Box plot showing statistical distributions (min, Q1, median,
            Q3, max)

            - treemap: Treemap chart showing hierarchical data as proportional rectangles

            - waterfall: Waterfall chart showing incremental positive and negative
            changes (for example, an income statement breakdown)'
        component_variant:
          anyOf:
          - type: string
          - type: 'null'
          title: Component Variant
          description: Component variant (for example, 'simple' or 'financial').
        config:
          additionalProperties: true
          type: object
          title: Config
          description: Component configuration data
      type: object
      required:
      - component_type
      - config
      title: ComponentConfig
      description: Configuration for a single component in a card.
    ComponentTypeEnum:
      type: string
      enum:
      - categorical_bar
      - choropleth
      - data_table_chart
      - financial_boxes
      - generic_timeseries
      - header
      - heatmap
      - histogram
      - marimekko
      - pie
      - scatter
      - table
      - boxplot
      - treemap
      - waterfall
      - sankey
      - bubble
      - person_card
      - timeline
      - top_level_metric
      title: ComponentTypeEnum
      description: 'Component types supported for thin viz schemas with builder support.


        These component types have dedicated builders that process configurations,

        add defaults, and apply theme styling automatically.'
    ContentItem:
      properties:
        content_format:
          anyOf:
          - $ref: '#/components/schemas/ContentsFormat'
          - type: 'null'
          description: 'Serialization of the returned card data: ''csv'', ''json_records'',
            ''json_compact'', or ''card_json''. Null for web text (always returned
            as raw text) and for a quote-only response (nothing was serialized).'
        cost:
          type: number
          title: Cost
          description: 'Price of this item in USD. On a /contents response this is
            the amount actually billed. On a quote_only response it is a prospective
            /contents export price, because Tako fetched nothing and billed nothing.
            On a search or answer downloadable card it is also a prospective price,
            unless Tako returned more rows than the free row allowance; then it is
            the amount this response billed for the card. Use export_pricing on its
            own to price a /contents export of the same card. Do not add this value
            to that result: they are two prices for the same rows, not two charges.'
          default: 0.0
        data:
          anyOf:
          - type: string
          - type: 'null'
          title: Data
          description: 'Inline payload as text: card data serialized to CSV, or a
            web page''s extracted text. Set only for the ''csv'' card format and for
            web text; null otherwise.'
        records:
          anyOf:
          - items:
              additionalProperties:
                anyOf:
                - type: string
                - type: number
                - type: integer
                - type: boolean
                - type: 'null'
              type: object
            type: array
          - type: 'null'
          title: Records
          description: 'Inline card data as verbose JSON: a list of row objects keyed
            by column name. Set only when content_format is ''json_records''.'
        dataset:
          anyOf:
          - $ref: '#/components/schemas/TakoDataset'
          - type: 'null'
          description: Inline card data as a compact TakoDataset (typed column headers
            plus positional row arrays). Set only when content_format is 'json_compact'.
        card_data:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Card Data
          description: 'Inline card data as a card-type-specific JSON object. The
            ''card_type'' field inside the object names its shape. Set only when content_format
            is ''card_json''. Tako truncates the record rows in the object to ''max_rows'',
            the same cap every other format takes, and bills the rows it returns.
            A card whose record array is unbounded caps that array at the platform
            export ceiling and reports ''truncated'': true. The payload then also
            carries the true count for its record array. Card types without a card_json
            shape return 422 on /contents and fall back to ''json_compact'' on search
            and answer include_contents.'
        card_data_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Card Data Schema
          description: 'JSON Schema for the object in ''card_data''. Read it to learn
            the shape of the payload without parsing the payload. Tako sets this whenever
            content_format is ''card_json''. It is also set in ''url'' delivery mode
            and on a Contents quote, where ''card_data'' is null and the shape is
            all Tako returns. A search or answer card that you did not ask to inline
            carries a price but no schema. The ''title'' field and the ''card_type''
            default inside the schema name the shape. The schema describes the payload
            type, so ''card_data'' can omit a field the schema declares: Tako drops
            a measure the provider did not supply. Null for every other content_format
            and for web text.'
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
          description: Presigned download URL for the content, returned in 'url' delivery
            mode. Null for inline delivery and for quotes; pair with expires_at.
        expires_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Expires At
          description: ISO-8601 timestamp after which the presigned url stops working.
            Null whenever url is null.
        total_rows:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Rows
          description: True total number of rows in the card's data, independent of
            how many rows were returned. Compare with truncated to tell whether more
            rows are available via a larger max_rows. Null for web text.
        truncated:
          type: boolean
          title: Truncated
          description: True when Tako capped the returned rows and total_rows is larger
            than the number returned. Tako caps a card at the request max_rows or
            at the 2,000-row system ceiling. On a search or answer response, Tako
            also applies a budget of 2,000 billable rows that all cards in the response
            share, so it can return fewer rows for a later card than max_rows asked
            for. Rows within the free row allowance do not use that budget, so a request
            that omits max_rows is never capped by it.
          default: false
        export_pricing:
          anyOf:
          - $ref: '#/components/schemas/ExportPricing'
          - type: 'null'
          description: Rate card for a downloadable card CSV, so a caller can compute
            a full export's cost before fetching. Null for web text and other non-downloadable
            content.
        manifest:
          anyOf:
          - items:
              $ref: '#/components/schemas/ColumnDescriptor'
            type: array
          - type: 'null'
          title: Manifest
          description: 'Per-column metadata, one entry per exported column, in column
            order: entry i describes column i (CSV header i, json_records key i, or
            dataset.columns[i]). Each entry carries name (the column header), dtype,
            unit, metric, and entity. Null for web or quote responses that carry no
            tabular columns.'
        source_url:
          type: string
          title: Source Url
          description: The originating result URL from the request.
      type: object
      required:
      - source_url
      title: ContentItem
      description: 'A single downloadable artifact.


        It inherits `content_format`, `cost`, the payload fields (`data`,

        `records`, `dataset`, `total_rows`, `truncated`), and the presigned `url`

        and `expires_at` from ResultContent. URL mode populates `url` and

        `expires_at`. INLINE mode populates one of the payload fields and leaves

        `url` and `expires_at` null. A `quote_only` request yields a third shape:

        `cost` (plus `export_pricing` for a card) with every payload and url

        field null and `content_format` null — the price of the export, with

        nothing fetched or charged.


        `card_data_schema` is the one field that does NOT follow that rule: a

        card_json quote and a card_json `url` delivery both return it beside a null

        `card_data`, because the shape is what those two shapes have to offer. Test

        `content_format` for null to tell a quote from a delivery; a null payload

        field cannot do it.'
    ContentsDeliveryMode:
      type: string
      enum:
      - url
      - inline
      title: ContentsDeliveryMode
      description: 'How contents reach the caller. URL returns a short-lived presigned
        file

        download; INLINE returns the content in the response body.'
    ContentsFormat:
      type: string
      enum:
      - csv
      - json_records
      - json_compact
      - card_json
      title: ContentsFormat
      description: 'Serialization of tabular (Tako card) data. Web content is always
        raw text

        and carries no content format (content_format is null).'
    ContentsRequest:
      properties:
        url:
          type: string
          title: Url
          description: The result URL to fetch downloadable content for (a TakoCard.webpage_url
            or a WebResult.url). A Tako card URL yields a CSV of the card's data;
            any other URL yields the page's extracted text.
          examples:
          - https://tako.com/card/abc123
        mode:
          $ref: '#/components/schemas/ContentsDeliveryMode'
          description: 'Delivery mode. ''url'' (the default) returns a presigned download
            link. ''inline'' returns the content in the response body: CSV data up
            to the 2,000-row system ceiling (with total_rows and truncated reported),
            or web text.'
          default: url
        content_format:
          $ref: '#/components/schemas/ContentsFormat'
          description: 'Serialization for Tako card data: ''csv'' (default), ''json_records'',
            ''json_compact'', or ''card_json'' (a rich card-type-specific JSON object;
            not all card types support it). Ignored for web URLs (always text).'
          default: csv
        max_rows:
          anyOf:
          - type: integer
            minimum: 1.0
          - type: 'null'
          title: Max Rows
          description: Optional cap on the rows a Tako card export is priced against.
            When omitted, it defaults to your account's free-row allowance (20 rows
            on the standard plan), billed at the baseline only. Raise it to export
            more rows, up to the 2,000-row system ceiling (Tako clamps larger values).
            Rows beyond the free allowance bill at the per-1,000-row rate. Tako never
            bills more rows than it returns. Every card format returns the rows up
            to this cap and bills them, including card_json. Web URLs ignore this
            field.
          examples:
          - 100
        max_chars:
          type: integer
          maximum: 1000000.0
          minimum: 1.0
          title: Max Chars
          description: Character cap on extracted web page text. Ignored for Tako
            card URLs (they use max_rows). The default is the full page text, up to
            the 1000000-character ceiling. To truncate, pass a smaller value.
          default: 1000000
          examples:
          - 50000
        quote_only:
          type: boolean
          title: Quote Only
          description: 'When true, return only the price of the export (cost + export_pricing)
            without fetching content or charging. The response item''s payload and
            url fields are null, and the request is free. One exception: a card_json
            quote returns ''card_data_schema'', the shape the export would deliver.
            Test ''content_format'' for null to tell a quote from a delivery. `max_rows`
            shapes the quote and defaults to your account''s free-row allowance, as
            a real export does. The request ignores `mode`. Every format prices a
            quote from `max_rows`, so a quote is instant and makes no call to a data
            provider. A quote is an upper bound on the charge: an export of a card
            with fewer rows than the cap bills less. A card_json export is truncated
            to `max_rows` like every other format, so the charge can never exceed
            the quote for the same cap. A card_json quote reports no `total_rows`,
            because it does not build the payload. The same export-safe gate applies,
            so an unexportable card still returns 403, and a card type with no card_json
            shape still returns 422.'
          default: false
      type: object
      required:
      - url
      title: ContentsRequest
      description: 'Request body for POST /api/v1/contents.


        The caller passes the result URL it wants downloadable content for, and

        the endpoint detects the right content from the URL itself. A Tako card

        URL resolves to the card''s underlying data. Any other URL resolves to

        the page''s extracted full text. `mode` controls delivery: `url` (the

        default) returns a presigned download link, and `inline` returns the

        content in the response. `content_format` selects the card serialization

        (csv, json_records, json_compact, or card_json); web URLs ignore it

        (always text).'
    ContentsResponse:
      properties:
        contents:
          items:
            $ref: '#/components/schemas/ContentItem'
          type: array
          title: Contents
          description: Downloadable artifacts for the requested URL.
        request_id:
          type: string
          title: Request Id
          description: Unique identifier for this request.
        usage:
          anyOf:
          - $ref: '#/components/schemas/Usage'
          - type: 'null'
      type: object
      required:
      - request_id
      title: ContentsResponse
      description: 'Response for POST /api/v1/contents.


        `contents` is a list so that the contract stays stable if a single result

        ever yields multiple artifacts. Today it always carries exactly one

        item.'
    CreateCardRequest:
      properties:
        components:
          items:
            $ref: '#/components/schemas/ComponentConfig'
          type: array
          title: Components
          description: Full component configurations
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
          description: Card title (falls back to header component title)
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Card description
        source:
          anyOf:
          - type: string
          - type: 'null'
          title: Source
          description: Data source attribution (displayed in footer)
        height:
          anyOf:
          - type: integer
            maximum: 2000.0
            minimum: 100.0
          - type: 'null'
          title: Height
          description: Chart height in pixels. When set, overrides the default aspect-ratio-based
            height for all chart components in this card. Must be between 100 and
            2000.
        postmessage_embed:
          type: boolean
          title: Postmessage Embed
          description: When True, the embed iframe operates in postMessage mode. The
            parent page injects visualization_data via window.postMessage after the
            iframe loads; the embed URL carries no inline data. The response includes
            embed_mode='postmessage' when this is True, and embed_mode='post' otherwise.
          default: false
        normalize_currencies:
          anyOf:
          - type: string
          - type: 'null'
          title: Normalize Currencies
          description: Target ISO 4217 currency code (for example, 'USD' or 'EUR').
            When set, Tako converts datasets with recognized currency units to this
            currency with historical exchange rates. Tako also adds a methodology
            section that explains the conversion.
        image_ttl_minutes:
          anyOf:
          - type: integer
            maximum: 1440.0
            minimum: 1.0
          - type: 'null'
          title: Image Ttl Minutes
          description: Minutes to keep the preview image available for download (zero-data-retention
            (ZDR) cards only). Min 1, max 1440 (24 hours). When set on a ZDR card,
            Tako generates a temporary preview image and keeps it available for download
            until the TTL expires. Non-ZDR cards ignore this field.
      type: object
      required:
      - components
      title: CreateCardRequest
      description: Request model for creating a card directly with components.
    DataFreshness:
      properties:
        coverage_end:
          anyOf:
          - type: string
          - type: 'null'
          title: Coverage End
          description: The last data point in the card's data, at the granularity
            of the underlying series. An annual series reports a year (2026). A monthly
            or quarterly series reports a month (2026-06). A daily or intraday series
            reports a full date (2026-06-30). This value can be in the future when
            the card includes projections. Null for card types without a coverage
            date. The value uses ISO 8601 reduced precision, so examine the length
            before you parse it. A date parser reads 2026 as 2026-01-01, which is
            the start of the period and not the end.
          examples:
          - '2026'
          - 2026-06
          - '2026-06-30'
        data_as_of:
          anyOf:
          - type: string
          - type: 'null'
          title: Data As Of
          description: 'Deprecated: use coverage_end. The same point, always as a
            full ISO date (YYYY-MM-DD). For a series whose points are periods, this
            date is the period boundary. It is not a day on which Tako observed a
            value.'
          deprecated: true
          examples:
          - '2026-10-01'
        last_updated:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated
          description: Date Tako last refreshed the underlying data, as an ISO date
            (YYYY-MM-DD).
          examples:
          - '2026-07-14'
      type: object
      title: DataFreshness
      description: 'When the card''s data ends and when Tako last refreshed it. Either
        field

        may be null when that date is not available for the card type.'
    DataPipelineAnswerEvent:
      properties:
        kind:
          type: string
          const: data_pipeline_answer
          title: Kind
          default: data_pipeline_answer
        id:
          type: string
          title: Id
        chart_refs:
          items:
            type: string
          type: array
          title: Chart Refs
      type: object
      required:
      - id
      title: DataPipelineAnswerEvent
      description: 'Signals that the data pipeline produced one or more charts for
        the

        answer. It carries only chart references. The answer text streams in

        `text` events, and the structured result arrives in the terminal

        `agent_result` event, not here.'
    DataSourceSettings:
      properties:
        count:
          type: integer
          maximum: 20.0
          minimum: 1.0
          title: Count
          description: Maximum number of results to return for this source. 1-20.
          default: 5
        include_contents:
          type: boolean
          title: Include Contents
          description: Inline this source's underlying data directly in the response.
            For the Tako data source, that is serialized card data (see content_format).
            For web results, that is the extracted text.
          default: false
        mode:
          $ref: '#/components/schemas/ContentsDeliveryMode'
          description: Delivery for inlined card data when include_contents is true.
            For Tako cards, include_contents always returns the most-recent rows in
            the response body, up to max_rows, or up to the default inline row cap
            for your account if you omit max_rows. This field therefore has no effect
            on Tako cards; it stays for schema stability. total_rows and truncated
            on the returned content indicate when more data is available. For a presigned
            download link, call POST /api/v1/contents with mode='url'.
          default: inline
        content_format:
          $ref: '#/components/schemas/ContentsFormat'
          description: 'Serialization for card data: ''json_compact'' (default), ''json_records'',
            ''csv'', or ''card_json''. The first three return a free row-capped preview.
            ''card_json'' returns a rich card-type-specific JSON object under card_data,
            truncated to the same row cap, and Tako bills the record rows it returns.
            A card type with no card_json shape falls back to ''json_compact'' for
            that card.'
          default: json_compact
        max_rows:
          anyOf:
          - type: integer
            minimum: 1.0
          - type: 'null'
          title: Max Rows
          description: Maximum number of card data rows to inline when include_contents
            is true. If you omit this field, Tako returns the default inline row cap
            for your account (20 rows on the standard plan), which is not always the
            same as your free row allowance. Raise it to inline more rows, up to the
            2,000-row system ceiling. Tako clamps a larger value to that ceiling.
            Once rows exceed the free row allowance, Tako charges a flat per-card
            baseline fee plus the per-1,000-row rate, the same rate POST /api/v1/contents
            charges. total_rows and truncated report whether more rows remain. A single
            response also has a 2,000 billable-row budget and a 20,000-row total budget,
            both shared across all cards. A later card can therefore return fewer
            rows than you requested, or no inlined rows at all. Such a card still
            carries its export_pricing quote, so you can fetch its rows with POST
            /api/v1/contents.
          examples:
          - 100
        node_ids:
          items:
            type: string
          type: array
          maxItems: 20
          title: Node Ids
          description: 'Graph node ids to pin into the search; the /v1/graph endpoints
            return these ids. Pinned nodes always become retrieval candidates and
            get a strong boost; organic results do not change. Ids are not durable
            across knowledge-graph rebuilds: the search skips an id that no longer
            resolves (in strict mode it simply cannot match). Malformed ids fail the
            request with a 400. Max 20.'
        strict:
          type: boolean
          title: Strict
          description: When true, return only data cards that match at least one node
            in node_ids (which must then be non-empty). When false (the default),
            pinned nodes rank first but organic results still return. Web results
            do not change either way.
          default: false
      additionalProperties: false
      type: object
      title: DataSourceSettings
      description: 'Tako data (card) source settings. It adds the two contents-export

        fields on top of the base count and include_contents. Web sources use the

        base SourceSettings: Tako always inlines web content as raw text, so web

        carries neither field.'
    EntityClassName:
      type: string
      enum:
      - Companies
      - Cryptocurrencies
      - Financial Instruments
      - Internet Browsers
      - Commodities
      - People
      - Currencies
      - Stock Exchanges
      - Securities
      - IPOs
      - Government Debt Instruments
      - Treasury Securities
      - Airports
      - Airlines
      - Vehicle Types
      - Transportation Modes
      - Drugs
      - Drug Categories
      - Diseases
      - Injury Mechanisms
      - Injury Intents
      - Chemical Elements
      - Chemical Compounds
      - Celestial Bodies
      - Occupations
      - Social Media Platforms
      - Operating Systems
      - Search Engines
      - Device Types
      - LLMs
      - LLM Families
      - LLM Benchmarks
      - AI Gateway Entity
      - Industries
      - NAICS Industries
      - BLS Industries
      - PSC Categories
      - Federal Contractors
      - Federal Agencies
      - Federal Subagencies
      - ICE Contracts
      - ICE Contractors
      - Elections
      - Political Offices
      - Pollsters
      - Agricultural Products
      - Tobacco Products
      - Prediction Markets
      - Prediction Events
      - Real Estate Property Types
      - Continents
      - World Regions
      - Countries
      - States
      - Counties
      - Metro Areas
      - Cities
      - F1 Drivers
      - F1 Teams
      - F1 Circuits
      - F1 Events
      - NASCAR Drivers
      - NASCAR Teams
      - NASCAR Tracks
      - NASCAR Events
      - NASCAR Races
      - NASCAR Owners
      - NASCAR Manufacturers
      - Golf Players
      - Golf Tournaments
      - Golf Venues
      - Golf Courses
      - Soccer Teams
      - Soccer Players
      - Soccer Competitions
      - Soccer Conferences
      - Basketball Teams
      - Basketball Players
      - Basketball Conferences
      - Basketball Divisions
      - Baseball Teams
      - Baseball Players
      - Baseball Conferences
      - Baseball Divisions
      - Baseball Competitions
      - Football Teams
      - Football Players
      - Football Conferences
      - Football Divisions
      - Sports
      - Sports Leagues
      title: EntityClassName
    ErrorObject:
      properties:
        code:
          type: string
          title: Code
        message:
          type: string
          title: Message
      type: object
      required:
      - code
      - message
      title: ErrorObject
    ExportPricing:
      properties:
        baseline_usd:
          type: number
          title: Baseline Usd
          description: Flat USD charged once per card export, independent of row count.
        row_cpm_usd:
          type: number
          title: Row Cpm Usd
          description: USD charged per 1,000 rows on rows beyond the free allowance
            (free_rows). Card-level rate, set by the card's most expensive source;
            no per-source breakdown.
        free_rows:
          type: integer
          title: Free Rows
          description: Rows included at the baseline price before the per-1,000-row
            rate (row_cpm_usd) begins to apply. This is the /contents free row allowance
            for your account. A search or answer response bills an inlined card against
            this same allowance.
        max_rows_ceiling:
          type: integer
          title: Max Rows Ceiling
          description: Hard cap on rows a single export can return and bill; a larger
            requested max_rows is clamped to this. No format bills more than the clamped
            max_rows, and none bills more rows than it returns. Every format obeys
            this ceiling, including card_json.
      type: object
      required:
      - baseline_usd
      - row_cpm_usd
      - free_rows
      - max_rows_ceiling
      title: ExportPricing
      description: 'Card-CSV export pricing RATE for the /contents endpoint, published
        so a

        caller can compute an export''s cost before fetching. A /contents export

        charge = baseline_usd + row_cpm_usd * max(0, rows - free_rows) / 1000,

        rows <= max_rows_ceiling. row_cpm_usd is the card-level rate: the

        per-1,000-row rate of the card''s most expensive source (TAKO-3916 — a card

        costs its most expensive source, never a sum); no per-source breakdown.


        `free_rows` here is the CALLER''S allowance, the same number a billed inline

        card''s `cost` uses -- both resolve through tako_free_rows_for. The two agreed

        only after /contents gained an entitlement concept; before that this field
        was

        always CSV_FREE_ROWS and the two surfaces disagreed by 3x on the same rows.'
    GeoLocation:
      properties:
        latitude:
          type: number
          maximum: 90.0
          minimum: -90.0
          title: Latitude
          description: Latitude of the end user (degrees, -90 to 90).
        longitude:
          type: number
          maximum: 180.0
          minimum: -180.0
          title: Longitude
          description: Longitude of the end user (degrees, -180 to 180).
      additionalProperties: false
      type: object
      required:
      - latitude
      - longitude
      title: GeoLocation
    GraphNode:
      properties:
        id:
          type: string
          title: Id
          description: Opaque, human-friendly public id (<prefix>::<name>::<hash>,
            where prefix is ent for an entity or mt for a metric). Ids are not durable
            across knowledge-graph rebuilds — resolve them at request time rather
            than storing them.
        type:
          $ref: '#/components/schemas/GraphNodeType'
        name:
          type: string
          title: Name
        aliases:
          items:
            type: string
          type: array
          title: Aliases
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        subtype:
          anyOf:
          - $ref: '#/components/schemas/EntityClassName'
          - type: 'null'
        label:
          anyOf:
          - $ref: '#/components/schemas/NerLabel'
          - type: 'null'
          description: Public NER label of the node (PERSON, ORG, GPE, ...). Derived
            from the node's stored annotation; null when the internal annotation has
            no public equivalent.
      type: object
      required:
      - id
      - type
      - name
      title: GraphNode
    GraphNodeType:
      type: string
      enum:
      - metric
      - entity
      title: GraphNodeType
    GraphRelatedResponse:
      properties:
        node:
          $ref: '#/components/schemas/GraphNode'
        relations:
          anyOf:
          - items:
              $ref: '#/components/schemas/GraphRelation'
            type: array
          - type: 'null'
          title: Relations
        relation:
          anyOf:
          - $ref: '#/components/schemas/GraphRelationPage'
          - type: 'null'
        inferred_labels:
          anyOf:
          - items:
              $ref: '#/components/schemas/NerLabel'
            type: array
          - type: 'null'
          title: Inferred Labels
          description: Labels that Tako NER inferred from `q` when infer_label ran
            (boost applied). An empty list means inference ran and found nothing.
            The field is absent when you supplied an explicit `label`, when infer_label=false,
            or when there was no q.
      type: object
      required:
      - node
      title: GraphRelatedResponse
    GraphRelation:
      properties:
        key:
          type: string
          title: Key
          description: 'Stable pagination handle. Fixed keys: metrics, entities, siblings,
            part_of, members. Named relations: rel:<phrase>.'
        kind:
          $ref: '#/components/schemas/RelationKind'
        label:
          type: string
          title: Label
          description: Human-readable group label.
        items:
          items:
            $ref: '#/components/schemas/GraphNode'
          type: array
          title: Items
        total:
          type: integer
          title: Total
        total_capped:
          type: boolean
          title: Total Capped
          description: True when `total` hit the server-side fetch cap; the true count
            is at least `total`. Render as 'total+'.
          default: false
      type: object
      required:
      - key
      - kind
      - label
      - items
      - total
      title: GraphRelation
    GraphRelationPage:
      properties:
        key:
          type: string
          title: Key
          description: The relation key of this page.
        kind:
          $ref: '#/components/schemas/RelationKind'
        label:
          type: string
          title: Label
          description: Human-readable group label.
        items:
          items:
            $ref: '#/components/schemas/GraphNode'
          type: array
          title: Items
        total:
          type: integer
          title: Total
        total_capped:
          type: boolean
          title: Total Capped
          description: True when `total` hit the server-side fetch cap; the true count
            is at least `total`. Pagination ends at the cap — narrow with `q` to reach
            the tail.
          default: false
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
      type: object
      required:
      - key
      - kind
      - label
      - items
      - total
      title: GraphRelationPage
    GraphSearchResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/GraphNode'
          type: array
          title: Results
        inferred_labels:
          anyOf:
          - items:
              $ref: '#/components/schemas/NerLabel'
            type: array
          - type: 'null'
          title: Inferred Labels
          description: Labels that Tako NER inferred from `q` when infer_label ran
            (boost applied). An empty list means inference ran and found nothing.
            The field is absent when you supplied an explicit `label`, when infer_label=false,
            or when there was no q.
      type: object
      required:
      - results
      title: GraphSearchResponse
    HeartbeatEvent:
      properties:
        kind:
          type: string
          const: heartbeat
          title: Kind
          default: heartbeat
      type: object
      title: HeartbeatEvent
    KnowledgeCardMethodology:
      properties:
        methodology_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Methodology Name
          description: The name of the methodology
          examples:
          - Where the Data Comes From - S&P Global
        methodology_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Methodology Description
          description: 'A concise, one-sentence summary of the methodology: the source
            and what it measures. When no concise summary is available, this carries
            the full methodology text.'
          examples:
          - Financial metrics standardized by S&P Global from company regulatory filings,
            press releases, and restatements.
      type: object
      required:
      - methodology_name
      - methodology_description
      title: KnowledgeCardMethodology
    KnowledgeCardRelevance:
      type: string
      enum:
      - High
      - Medium
      - Low
      title: KnowledgeCardRelevance
    MetricDefinition:
      properties:
        name:
          type: string
          title: Name
          description: The metric's display name
          examples:
          - Gross Domestic Product (current US$)
        definition:
          type: string
          title: Definition
          description: Human-readable definition of the metric
      type: object
      required:
      - name
      - definition
      title: MetricDefinition
      description: 'Definition of a metric shown on a card. Sourced from the metric''s

        ValueType definition — the same text as the in-app methodology ''Metrics''

        tab.'
    NerLabel:
      type: string
      enum:
      - PERSON
      - ORG
      - GPE
      - LOC
      - PRODUCT
      - EVENT
      - LANGUAGE
      - MONEY
      - METRIC
      - STOCK_TICKER
      - WEBSITE
      title: NerLabel
    OutputSettings:
      properties:
        image_dark_mode:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Image Dark Mode
          description: Whether to render card preview images in dark mode.
        force_refresh:
          type: boolean
          title: Force Refresh
          description: 'Instant mode only, and currently informational: on these endpoints,
            instant (effort=''instant'') always operates in build-and-refresh mode
            regardless of this flag. Instant retrieves data for embeds that are missing
            or stale, then creates or refreshes their static embeds. Embeds that are
            already fresh (within the refresh cadence) return as-is; Tako does not
            re-retrieve them. Identical queries therefore reuse the same content-addressed
            embed and return a stable embed URL.'
          default: false
      additionalProperties: false
      type: object
      title: OutputSettings
    ReasoningEvent:
      properties:
        kind:
          type: string
          const: reasoning
          title: Kind
          default: reasoning
        id:
          type: string
          title: Id
        delta:
          type: string
          title: Delta
        done:
          type: boolean
          title: Done
          default: false
      type: object
      required:
      - id
      - delta
      title: ReasoningEvent
    RelatedSuggestion:
      properties:
        query:
          type: string
          title: Query
          description: The follow-up query. Send it as the `query` of another search
            request.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: What the query asks for, in words. Tako sets this only when
            the query text does not say on its own, such as a lookup by identifier.
            Most suggestions omit it because the query already reads as a question.
            Tako composes it from the data on the card; no language model writes it.
        node_ids:
          items:
            type: string
          type: array
          title: Node Ids
          description: Graph node ids that identify the data this query asks for.
            Pass them as `sources.data.node_ids` on the follow-up search to make the
            search return that data. The list is empty when Tako cannot resolve the
            ids; the query still works on its own.
      type: object
      required:
      - query
      title: RelatedSuggestion
      description: 'One follow-up query for the caller to run next.


        A suggestion is deterministic. Tako derives it either from the data a

        returned card already holds, or from the knowledge graph around that card.

        No language model writes these.'
    RelationKind:
      type: string
      enum:
      - related
      - data
      - sibling
      - membership
      title: RelationKind
      description: How Tako derived a relation group.
    ResultContent:
      properties:
        content_format:
          anyOf:
          - $ref: '#/components/schemas/ContentsFormat'
          - type: 'null'
          description: 'Serialization of the returned card data: ''csv'', ''json_records'',
            ''json_compact'', or ''card_json''. Null for web text (always returned
            as raw text) and for a quote-only response (nothing was serialized).'
        cost:
          type: number
          title: Cost
          description: 'Price of this item in USD. On a /contents response this is
            the amount actually billed. On a quote_only response it is a prospective
            /contents export price, because Tako fetched nothing and billed nothing.
            On a search or answer downloadable card it is also a prospective price,
            unless Tako returned more rows than the free row allowance; then it is
            the amount this response billed for the card. Use export_pricing on its
            own to price a /contents export of the same card. Do not add this value
            to that result: they are two prices for the same rows, not two charges.'
          default: 0.0
        data:
          anyOf:
          - type: string
          - type: 'null'
          title: Data
          description: 'Inline payload as text: card data serialized to CSV, or a
            web page''s extracted text. Set only for the ''csv'' card format and for
            web text; null otherwise.'
        records:
          anyOf:
          - items:
              additionalProperties:
                anyOf:
                - type: string
                - type: number
                - type: integer
                - type: boolean
                - type: 'null'
              type: object
            type: array
          - type: 'null'
          title: Records
          description: 'Inline card data as verbose JSON: a list of row objects keyed
            by column name. Set only when content_format is ''json_records''.'
        dataset:
          anyOf:
          - $ref: '#/components/schemas/TakoDataset'
          - type: 'null'
          description: Inline card data as a compact TakoDataset (typed column headers
            plus positional row arrays). Set only when content_format is 'json_compact'.
        card_data:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Card Data
          description: 'Inline card data as a card-type-specific JSON object. The
            ''card_type'' field inside the object names its shape. Set only when content_format
            is ''card_json''. Tako truncates the record rows in the object to ''max_rows'',
            the same cap every other format takes, and bills the rows it returns.
            A card whose record array is unbounded caps that array at the platform
            export ceiling and reports ''truncated'': true. The payload then also
            carries the true count for its record array. Card types without a card_json
            shape return 422 on /contents and fall back to ''json_compact'' on search
            and answer include_contents.'
        card_data_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Card Data Schema
          description: 'JSON Schema for the object in ''card_data''. Read it to learn
            the shape of the payload without parsing the payload. Tako sets this whenever
            content_format is ''card_json''. It is also set in ''url'' delivery mode
            and on a Contents quote, where ''card_data'' is null and the shape is
            all Tako returns. A search or answer card that you did not ask to inline
            carries a price but no schema. The ''title'' field and the ''card_type''
            default inside the schema name the shape. The schema describes the payload
            type, so ''card_data'' can omit a field the schema declares: Tako drops
            a measure the provider did not supply. Null for every other content_format
            and for web text.'
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
          description: Presigned download URL for the content, returned in 'url' delivery
            mode. Null for inline delivery and for quotes; pair with expires_at.
        expires_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Expires At
          description: ISO-8601 timestamp after which the presigned url stops working.
            Null whenever url is null.
        total_rows:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Rows
          description: True total number of rows in the card's data, independent of
            how many rows were returned. Compare with truncated to tell whether more
            rows are available via a larger max_rows. Null for web text.
        truncated:
          type: boolean
          title: Truncated
          description: True when Tako capped the returned rows and total_rows is larger
            than the number returned. Tako caps a card at the request max_rows or
            at the 2,000-row system ceiling. On a search or answer response, Tako
            also applies a budget of 2,000 billable rows that all cards in the response
            share, so it can return fewer rows for a later card than max_rows asked
            for. Rows within the free row allowance do not use that budget, so a request
[...]
